<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00341c">
  <div class="container-fluid">
    <strong>
      <a class="navbar-brand text-light" href="{{ path('app_home') }}">Travelling Agency</a>
    </strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-light" href="{{ path('app_voyages') }}">Voyages</a>
        <a class="nav-link text-light" href="{{ path('app_team') }}">Team</a>
        <a class="nav-link text-light" href="{{ path('app_about') }}">About</a>
      </div>
    </div>
  </div>
</nav>