<div class="row justify-content-md">
    {% for employee in employees %}
        <div class="card col-2 m-2">
            <div class="card-body">
                <h5 class="card-title">
                   Name : {{ employee.name }}
                </h5>
                <h6 class="card-text">
                   Age : {{ employee.age }}
                </h6>
                <p class="card-text">
                   Job : {{ employee.job }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
</div>