<div class="container justify-content-md">
 <div class="row justify-content-center">
    {% for employee in employees %}
        <div class="card col-2 m-2 bg-image" style="background-image: url(images/hiker.jpg);  
                background-size: cover;
                background-position: center;">
            <div class="card-body text-white">
                <h5 class="card-title">
                   <strong>Name : </strong> {{ employee.name }}
                </h5>
                <h6 class="card-text">
                   <strong>Age : </strong>{{ employee.age }}
                </h6>
                <p class="card-text">
                   <strong>Job : </strong>{{ employee.job }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
</div>