 <div class="container justify-content-md">
 <div class="row justify-content-center">
    {% for voyage in voyages %}
        <div class="card col-3 m-1">
        <img class="card-img-top rounded mt-2" src="images/backpack.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">
                    {{ voyage.name }}
                </h4>
                <h6 class="card-text">
                    {{ voyage.destiny }}
                </h6>
                <p class="card-text">
                    {{ voyage.price }} €
                </p>
                <p class="card-text">
                    {{ voyage.description }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
</div>