{%extends "base.html.twig" %} 
{% block title %}Travelling Agency{% endblock %}

{% block body %}
    <div>
        {{ include("front/template_part/_menu.html.twig", {pp: 'home'} )}}
    </div>

    <div class="bg-image text-center text-white" 
        style="background-image: url(images/backpack.jpg);  
                height: 550px;
                width:100%;
                background-size: cover;
                background-position: center" > 
        <h2 class="pt-5"><strong>Welcome to Travelling Agency</strong></h2>
    </div>

    <div class="container mt-5">

        <div class="col-sm-9"> 
            <p>Hello stranger! Welcome to the best travelling agency in the world</p>
       </div>
    </div> 

    {{ include("front/template_part/_footer.html.twig", {pp: 'team'} )}}
{% endblock %}