{%extends "base.html.twig" %} 
{% block title %}Team{% endblock %}

{% block body %}

<div>        
    {{ include("front/template_part/_menu.html.twig", {pp: 'team'} )}}
</div>

<div class="container">
    <h2>Team</h2>
        
       <div class="col-sm-9"> 
            <p>Here you can find our team</p>
       </div>  

        {{ include("front/template_part/teamList.html.twig", {pp: 'voyages'} )}}
      
    </div>
</div>
    
{% endblock %}