{%extends "base.html.twig" %} 
{% block title %}Team{% endblock %}

{% block body %}

<div>        
    {{ include("front/template_part/_menu.html.twig", {pp: 'team'} )}}
</div>

<div class="container mt-3">
    <h2>Meet our Team!</h2>
    
    <p>Here you can find our secretaries and commercials </p>

    {{ include("front/template_part/teamList.html.twig", {pp: 'team'} )}}
      
    </div>
</div>
    
{% endblock %}