{%extends "base.html.twig" %} 
{% block title %}Voyages{% endblock %}

{% block body %}
    <div>
        {{ include("front/template_part/_menu.html.twig", {pp: 'menu'} )}}
    </div>

    <div class="container mt-3">
        <h2 style="padding: 0 0 0 150px; color: #11663f;">Voyages</h2>
        <span class="float-end" style="padding: 0 150px 0 0;">
            <a href="{{ path("add_voyages") }}" class="btn btn-success btn-sm">Add</a>
        </span>
        
        {{ include("front/template_part/voyagesList.html.twig", {pp: 'voyages'} )}}
    </div>
        
    {{ include("front/template_part/_footer.html.twig", {pp: 'team'} )}}
{% endblock %}