{%extends "base.html.twig" %} 
{% block title %}Voyages{% endblock %}

{% block body %}

    <div>
        {{ include("front/template_part/_menu.html.twig", {pp: 'menu'} )}}
    </div>
<div class="container mt-3">
    <h2 style="padding: 0 0 0 150px; color: #11663f;">Voyages</h2>
       
    {{ include("front/template_part/voyagesList.html.twig", {pp: 'voyages'} )}}
</div>
    
{% endblock %}